#cards {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.testevf {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-shadow: rgb(0 0 0 / 7%) 0px 10px 30px 10px;
  background-color: #32353a;
  width: 390px;
  min-height: 200px;
  margin: 20px;
  padding: 25px;
  border-radius: 3px;
  position: relative;
  top: -50px;
}

.testevf p {
  opacity: 1;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faixa3 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.testevf h3 {
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 500;
}

.forks {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 30px;
}

.language {
  margin-top: 30px;
  font-weight: 400;
  opacity: 0.8;
}
.ok {
  font-size: 16px !important;
}

.star {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.testevf img {
  margin: 0px 5px;
  opacity: 0.7;
}

.kb {
  margin-top: 30px;
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: white;
}
