/* #cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


#cards a {
  color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  min-height: 170px;
  background-color: #32353a;
  border-radius: 8px;
  padding: 10px 20px;
  -webkit-box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
  box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
  margin-right: 20px;
  margin-bottom: 20px;
}

.faixa3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} */

#cards {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.testevf {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-shadow: rgb (0, 0, 0, 0.07) 0px 10px 30px 10px;
  background-color: #32353a;
  width: 390px;
  min-height: 200px;
  margin: 20px;
  padding: 25px;
  border-radius: 3px;
  position: relative;
  top: -50px;
  transition: all 0.3s ease 0s;
  animation: 0.4s ease 0s 1 normal both running bAlDhT;
  /* opacity: 0; */
}

.testevf p {
  opacity: 1;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.faixa3 {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.testevf h3 {
  color: white;
  font-family: 'Space Mono', monospace;
  font-weight: 500;
}

.forks {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 30px;
}

.language {
  margin-top: 30px;
  font-weight: 400;
  opacity: 0.8;
}
.ok {
  font-size: 16px !important;
}

.star {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.testevf img {
  margin: 0px 5px;
  opacity: 0.7;
}

.kb {
  margin-top: 30px;
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: white;
}
