<section class="sc-iqAbSa gfcIZQ">
  <section class="sc-eCApGN htLRdL">
    <div class="sc-bdnylx jMhaxE">
      <div class="sc-hKFyIo bdDYJz">
        <div class="sc-jSFkmK jGLdVH"><img src="https://avatars.githubusercontent.com/u/47065330?v=4" alt="Vitor Ferreira" width="180"></div>
        <div class="sc-gKAblj boPkKw">
          <h1>Vitor Ferreira</h1><a href="https://github.com/vitorvf" target="_blank" rel="noopener noreferrer">
            <p>@vitorvf</p>
          </a>
        </div>
        <div class="sc-iCoHVE knnrxv">
          <p>Desenvolvedor frontend, apaixonado por React.js, HTML e CSS</p>
        </div>
        <div class="sc-fujyUd dAHnJY">
          <div class="sc-pNWxx dryRrI">
            <p>18</p>
            <h1>REPOSITÓRIOS</h1>
          </div>
          <div class="sc-pNWxx dryRrI">
            <p>2</p>
            <h1>SEGUIDORES</h1>
          </div>
          <div class="sc-pNWxx dryRrI">
            <p>4</p>
            <h1>SEGUINDO</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>